<!DOCTYPE html>
<html>

<head>
    <meta th:include="headtags :: headtags" th:remove="tag" />
</head>

<body>
    <div>

        <!-- body content -->
        <div class="container-fluid">

        <p>
        <a href="/admin/profile/create" th:href="@{/admin/profile/create}">Create User</a>
        </p>
                    <table class="table table-bordered table-striped">
                                    <thead class="bg-info">
                                        <tr>
                                            <th>Username</th>
                                            <th>FirstName</th>
                                            <th>LastName</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user : ${users}">
                                            <td>
                                                <a href="#" th:href="@{|/admin/profiles/${user.id}|}" th:text="${user.username}">username</a>
                                            </td>
                                            <td th:text="${user.firstName}">First Name</td>
                                            <td th:text="${user.lastName}">Last Name</td>
                                            <td>
                                                <form action="#" th:action="@{|/admin/profiles/delete/${user.id}|}" method="post">
                                                    <input class="delete" type="submit" value="Delete"/>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


            Hello
        </div>
        <!-- body content -->

        <!-- footer -->
        <div th:include="footer :: footer" th:remove="tag"></div>
        <!-- footer -->
    </div>
    <script src="../static/js/jquery-3.min.js" th:src="@{/js/jquery-3.min.js}"></script>
    <script src="../static/js/adminProfile.js" th:src="@{/js/adminProfile.js}"></script>
</body>

</html>
