<!DOCTYPE html>
<html>

<head>
    <meta th:include="headtags :: headtags" th:remove="tag" />
</head>

<body>
    <div>

        <!-- body content -->
        <div class="container-fluid">

            <div class="scrollmenu">
              <a href="admin" th:href="@{/admin}">Admin</a>
              <a href="profile" th:href="@{/profile}">User</a>
            <a href="signin" th:href="@{/signin}" th:unless="${(#authentication != null) and #authorization.expression('isAuthenticated()')}" th:text="#{menu.signin}">Signin</a>
            </div>

        <div>
            <span th:switch="${(#authentication != null) and #authorization.expression('isAuthenticated()')}">
            <span th:case="true" th:text="${#authentication.name}">User name</span>
            </span>
            <a href="signin" th:href="@{/signin}" th:unless="${(#authentication != null) and #authorization.expression('isAuthenticated()')}" th:text="#{menu.signin}">Signin</a>
            <a href="signout" th:href="@{/signout}" th:if="${(#authentication != null) and #authorization.expression('isAuthenticated()')}" th:text="#{menu.signout}">Signout</a>
        </div>
            Hello
        </div>
        <!-- body content -->

        <!-- footer -->
        <div th:include="footer :: footer" th:remove="tag"></div>
        <!-- footer -->
    </div>
</body>

</html>
